.about {
    &__intro-holder {
        padding: 0px 0px 60px 0px;
        background-color: #F2F1F0;
        @include mq(medium) {
            padding: 0px 0px 100px 0px;
        }
    }
    &__intro-element {
        padding: 40px 30px;
        margin: 0px auto;
        background-color: #fff;
        position: relative;
        margin-top: -25px;
        @include mq(medium) {
            padding: 80px 90px;
            margin-top: -55px;
        }
        h2 {
            margin: 0px;
            color: $hb_red;
            @include mq(medium) {
                color: $hb_red;
            }
        }
        p {
            font-size: 1em;
            line-height: 30px;
            @include mq(medium) {
                font-size: 18px;
            }
        }
        ul {
            line-height: 25px;
            @include mq(medium) {
                font-size: 18px;
            }
        }
    }

    &__usp-holder {
        padding: 40px 0px;
        background-color: #fff;
        border-top: 1px solid #F2F1F0;
        @include mq(medium) {
            padding: 80px 0px;
        }
        h2 {
            margin: 0px;
            color: $hb_red;
        }
        ul {
            list-style: none;
            padding-left: 50px;
            margin-top: 22px;
            @include mq(medium) {
                padding-left: 50px;
                margin-top: 45px;
            }
            li {
                font-size: 1em;
                line-height: 30px;
                position: relative;
                margin-bottom: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 30px;
                    width: 30px;
                    background-image: url('../images/icon-checkusp.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    left: -50px;
                    @include mq(medium) {
                        left: -50px;
                    }
                }
                @include mq(medium) {
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }

    &__information-tabs {
        background-color: #fff;
        position: relative;
        .tabs {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: -28px;
            white-space: nowrap;
            overflow-x: scroll;
            @include mq(medium) {
                position: absolute;
                white-space: initial;
                overflow-x: initial;
            }
            li {
                display: inline-block;
                background-color: #fff;
                padding: 10px 20px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                margin-right: 5px;
                @include mq(medium) {
                    display: inline;
                }
                &:last-of-type() {
                    margin-right: none;
                }
                &.active {
                    border-bottom: 2px solid $hb_red;
                    a {
                        font-weight: bold;
                        color: $hb_red;
                    }
                    @include mq(medium) {
                        border: none;
                    }
                }
                a {
                    text-decoration: none;
                    color: #222222;
                }
            }
        }

        .tabs-pane {
            display: none;
            outline: none;
            padding: 60px 0px;
            &.active {
                display: block;
            }
            h2 {
                margin: 0px;
                color: $hb_red;
                @include mq(medium) {
                    color: $hb_red;
                }
            }
            p {
                font-size: 1em;
                line-height: 30px;
                @include mq(medium) {
                    font-size: 18px;
                }
            }
            ul {
                line-height: 25px;
                @include mq(medium) {
                    font-size: 18px;
                }
            }
            ol {
                line-height: 25px;
                @include mq(medium) {
                    font-size: 18px;
                }
            }
        }
    }
}
