.custom-button {
    border-radius: 4px;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    &__black {
        background-color: #212121;
        color: #ffffff;
    }
    &__white {
        background-color: #fff;
        color: #000000;
    }
    &__orange {
        background-color: $hb_orange;
        color: #ffffff;
    }
    &__dark_orange {
        background-color: $hb_dark_orange;
        color: #ffffff;
    }
    &__red {
        background-color: $hb_red;
        color: #ffffff;
    }
    &__grey {
        background-color: $hb_grey;
        color: #ffffff;
    }

    &--icon {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 10px 12px 10px 40px!important;
        img {
            position: absolute;
            left: 15px;
            width: 15px;
            height: auto;
        }
    }

    &--small {
        padding: 10px 12px;
        text-transform: none;
        font-size: 14px;
    }
}
