.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .left {
        flex-basis: 100%;
        width: 100%;
        .contact-intro {
            font-size: 1em;
            line-height: 30px;
            @include mq(medium) {
                font-size: 18px;
            }
        }
        @include mq(medium) {
            flex-basis: 60%;
        }
    }

    .right {
        flex-basis: 100%;
        display: none;
        @include mq(medium) {
            display: block;
            flex-basis: calc(40% - 70px);
            padding-left: 70px;
        }
    }

    .wpcf7-validation-errors {
        padding: 20px;
        border-color: $hb_red;
        margin-left: 0px;
        margin-right: 0px;
    }

    .wpcf7-form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        p {
            margin: 10px 0px;
            &:not(:nth-of-type(1)),
            &:not(:nth-of-type(2)),
            &:not(:nth-of-type(3)),
            &:not(:nth-of-type(4)) {
                flex-basis: 100%;
            }
            label {
                word-break: break-all;
                font-size: 14px;
                @include mq(medium) {
                    font-size: 16px;
                }
            }
            span {
                width: 100%;
                display: block;
                select,
                input,
                textarea {
                    width: 100%;
                    margin-top: 5px;
                    border-radius: 5px;
                    appearance: none;
                    box-shadow: none;
                    border: 1px solid rgba(#414B50, 0.4);
                    outline: none;
                    padding: 15px;
                    background-color: #fff;
                }
                textarea {
                    resize: vertical;
                    min-height: 150px;
                }
                select {
                    cursor: pointer;
                }
            }
        }
        p:nth-of-type(1) {
            flex-basis: calc(30% - 10px);
            margin-right: 10px;
            span.wpcf7-form-control-wrap {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 25px;
                    right: 10px;
                    height: 6px;
                    width: 10px;
                    background-image: url('../images/icon-arrow-black.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
            }
        }
        p:nth-of-type(2) {
            flex-basis: calc(70% - 10px);
            margin-left: 10px;
        }
        p:nth-of-type(3) {
            flex-basis: calc(30% - 10px);
            margin-right: 10px;
        }
        p:nth-of-type(4) {
            flex-basis: calc(70% - 10px);
            margin-left: 10px;
        }
    }
}

.contact-card {
    width: 100%;
    margin-top: 130px;
    border: 2px solid #CFD8DC;
    color: #414B50;
    .contact-image {
        width: 100%;
        height: 220px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .contact-info {
        padding: 35px 40px 35px;
        span {
            font-weight: bold;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                line-height: 22px;
                &:first-of-type {
                    font-weight: bold;
                }
                a {
                    color: $hb_red;
                }
            }
        }
    }
}
