.home-intro {
    padding: 45px 0px;
    background-color: $hb_dark_orange;
    p {
        margin-bottom: 50px;
        text-align: center;
        font-size: 15px;
        line-height: 22px;
        color: #fff;
        @include mq(medium) {
            font-size: 22px;
            line-height: 28.6px;
        }
    }
}
