.page-header {
    height: 180px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d41317+100&0+0,0.7+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(212,19,23,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(212,19,23,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(212,19,23,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3d41317',GradientType=0 ); /* IE6-9 */
    }
    .container {
        z-index: 2;
        position: relative;
    }
    h1 {
        margin: 0px;
        color: #fff;
        @include mq(medium) {
            font-size: 70px;
        }
    }
    span {
        font-size: 20px;
        color: #fff;
        @include mq(medium) {
            font-size: 30px;
        }
    }
    @include mq(medium) {
        height: 365px;
    }
}
