.product-types {
    padding: 45px 0px;
    background-color: $hb_creme;
    @include mq(medium) {
        padding: 90px 0px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    h2 {
        text-align: center;
        margin-bottom: 40px;
        flex-basis: 100%;
        text-transform: uppercase;
        font-size: 25px;
        @include mq(medium) {
            margin-bottom: 80px;
            font-size: 42px;
        }
    }
    &__card {
        height: 130px;
        width: 100%;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 4px;
        position: relative;
        text-decoration: none;
        &:hover {
            &:after {
                opacity: 0.3;
                transition: all 0.3s ease-in-out;
            }
            img {
                right: 20px;
                transition: all 0.3s ease-in-out;
            }
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.4;
            border-radius: 4px;
            z-index: 1;
            transition: all 0.3s ease-in-out;
        }
        span {
            z-index: 10;
            color: #fff;
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 25px;
            text-transform: uppercase;
        }
        img {
            height: 30px;
            width: 30px;
            bottom: 20px;
            right: 30px;
            position: absolute;
            z-index: 10;
            transform: rotateY(180deg);
            transition: all 0.3s ease-in-out;
        }
    }
}
