.product-slider {
    position: relative;
    height: 620px;
    background-color: #fff;
    @include mq(medium) {
        height: 720px;
    }
    &__control {
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: rgba($hb_text, 0.6);
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        &:hover {
            background-color: rgba($hb_text, 1);
            cursor: pointer;
        }
        &.right {
            right: 0;
            transform: rotate(180deg) translateY(50%);
        }
        &.left {
            left: 0;
        }
        img {
            height: 35px;
            width: 50px;
        }
    }
    .slider-instructions {
        display: none;
        height: 100%;
        align-items: center;
        @include mq(medium) {
            &.active {
                display: flex;
            }
        }
        .instructions {
            padding-left: 20%;
            h2 {
                margin-top: 0px;
            }
            p {
                font-size: 22px;
                line-height: 28.6px;
            }
        }
    }
    &__wrapper {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 0px!important;
        max-width: 1120px;
        margin: 0px auto;
        @include mq(medium) {
            display: none;
            &.active {
                display: block;
            }
        }
        .slick-disabled {
            display: none!important;
        }
        .arrow-text {
            position: absolute;
            bottom: -30px;
            &.volgende {
                transform: translateY(-90px) rotateX(180deg) rotateY(180deg);
            }
        }
        .slide {
            height: 620px;
            outline: none;
            @include mq(medium) {
                height: 720px;
            }
            &__innerwrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                height: 100%;
            }
            &__content {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                max-width: 1120px;
                padding: 0px 20px;
                .mobile-order-button {
                    display: block;
                    flex-basis: 100%;
                    margin-top: 30px;
                    text-align: center;
                    @include mq(medium) {
                        display: none;
                    }
                }
                .mobile-product-title {
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 100%;
                    .price {
                        font-size: 12px;
                        text-transform: capitalize;
                        flex-basis: 100%;
                        color: #777F81;
                        line-height: 20px;
                    }
                    .product-title {
                        font-weight: 800;
                        font-style: italic;
                        font-size: 25px;
                        display: block;
                        color: $hb_text;
                        text-transform: uppercase;
                    }
                }
                @include mq(medium) {
                    padding: 0;
                    .mobile-product-title {
                        display: none;
                    }
                }
            }
            &__image {
                position: relative;
                height: 300px;
                flex-basis: 50%;
                width: 50%;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                @include mq(medium) {
                    height: 480px;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -40px;
                        width: 150px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #bfbfbf;
                        left: 50%;
                        transform: translateX(-50%);
                        filter: blur(7px);
                    }
                }
            }
            &__product-info {
                &.desktop {
                    display: none;
                }
                &.mobile {
                    display: block;
                    width: 50%;
                    .product-title {
                        display: none;
                    }
                    .price {
                        display: none;
                    }
                }
                @include mq(medium) {
                    padding-left: 180px;
                    &.mobile {
                        display: none;
                    }
                    &.desktop {
                        display: flex;
                        display: flex;
                        align-items: center;
                        flex-basis: 50%;
                        width: 50%;
                        max-width: 50%;
                    }
                }
                .price {
                    font-size: 18px;
                    text-transform: capitalize;
                    color: #777F81;
                    line-height: 28px;
                }
                .product-title {
                    font-weight: 800;
                    font-style: italic;
                    font-size: 42px;
                    display: block;
                    color: $hb_text;
                    text-transform: uppercase;
                }
                .order-button {
                    margin-top: 40px;
                }
                ul {
                    li {
                        font-size: 15px;
                        line-height: 22px;
                        @include mq(medium) {
                            font-size: 20px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }

    &__controls {
        position: absolute;
        right: -100%;
        width: 70%;
        max-width: 450px;
        background-color: $hb_red;
        z-index: 15;
        transition: right 0.3s ease-in-out;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &.open {
            right: 0;
            transition: right 0.3s ease-in-out;
        }
        .filter-slider {
            &.active {
                background-color: #fff;
                font-weight: bold;
                color: $hb_red;
            }
        }
        @include mq(medium) {
            position: absolute;
            left: 0;
            top: 50%;
            width: 170px;
            max-width: none;
            transform: translateY(-50%);
            border: 1px solid $hb_border;
            background-color: #fff;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            box-shadow: 0px 0px 8px 2px rgba(#000, 0.06);
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            .filter-slider {
                &.active {
                    background-color: $hb_red;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding-left: 0px;
                border-bottom: 1px solid #C11421;
                border-radius: 5px;
                @include mq(medium) {
                    border-bottom: 1px solid $hb_border;
                    border-radius: 0px;
                    padding-left: 0px;
                }
                button {
                    appearance: none;
                    border: none;
                    background: transparent;
                    outline: none;
                    padding: 35px 0px;
                    margin: 0;
                    cursor: pointer;
                    font-size: 17px;
                    width: 100%;
                    text-align: left;
                    color: #fff;
                    padding-left: 30px;
                    @include mq(medium) {
                        color: $hb_text;
                        padding: 25px 0px 25px 15px;
                    }
                }
                @include mq(medium) {
                    &:hover {
                        button {
                            color: $hb_red;
                            font-weight: bold;
                        }
                    }
                    &:last-of-type {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $hb_red;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 16;
        border: none;
        padding: 0;
        outline: none;
        .cross {
            display: none;
        }
        .arrow {
            display: block;
        }
        &.open {
            .cross {
                display: block;
            }
            .arrow {
                display: none;
            }
        }
        img {
            height: 25px;
            width: auto;
        }
        @include mq(medium) {
            display: none;
        }
    }
}

.cat_navigator {
    display: none;
    &.active {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 10;
        img {
            height: auto;
            width: 20px;
            margin-right: 15px;
        }
        font-size: 18px;
        font-weight: bold;
        color: $hb_red;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        left: 20px;
        top: 15px;
        width: 100%;
        padding-right: 50px;
        &:hover {
            text-decoration: underline;
            transition: all 0.3s ease-in-out;
        }
        @include mq(medium) {
            top: 50px;
            right: 120px;
            left: auto;
            width: auto;
            padding-right: 0;
        }
    }
}
