.focus-comp {
    padding: 45px 0px;
    background-color: #fff;
    @include mq(medium) {
        padding: 90px 0px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__left,
    &__right {
        flex-basis: 100%;
        @include mq(medium) {
            flex-basis: 50%;
        }
    }
    &__left {
        a {
            width: 100%;
            text-align: center;
            @include mq(medium) {
                width: auto;
                text-align: left;
            }
        }
        h2 {
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 30px;
            font-size: 25px;
            @include mq(medium) {
                font-size: 42px;
            }
        }
        p {
            margin-top: 0px;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 25px;
            @include mq(medium) {
                font-size: 22px;
                line-height: 28.6px;
            }
        }
    }
    &__right {
        padding: 40px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
