.usps {
    padding: 45px 0px;
    background-color: $hb_dark_orange;
    @include mq(medium) {
        padding: 90px 0px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__title {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 25px;
        @include mq(medium) {
            font-size: 42px;
        }
    }
    &__intro {
        flex-basis: 100%;
        margin-bottom: 50px;
        text-align: center;
        font-size: 15px;
        line-height: 22px;
        color: #fff;
        @include mq(medium) {
            font-size: 22px;
            line-height: 28.6px;
        }
    }
    &__item {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        margin-bottom: 20px;
        @include mq(medium) {
            width: 30%;
            margin-bottom: 0px;
        }
        .icon {
            width: 160px;
            height: 160px;
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            @include mq(medium) {
                flex-basis: auto;
            }
            img {
                width: auto;
                height: 100%;
            }
        }
        p {
            color: #fff;
            font-size: 16px;
            line-height: 22px;
        }
    }
}
