.footer {
    position: relative;
    padding: 50px 0px 30px;
    background-color: $hb_text;
    @include mq(medium) {
        padding: 100px 0px 60px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    &__list {
        width: 100%;
        margin-bottom: 25px;
        @include mq(medium) {
            width: calc(33.3% - 33.3px);
            margin-bottom: 0px;
            &:nth-of-type(2) {
                margin: 0px 50px;
            }
        }
        ul {
            padding-left: 0;
            list-style: none;
            margin-top: 30px;
            &.nav {
                li {
                    a {
                        text-transform: uppercase;
                    }
                }
            }
            li {
                font-size: 16px;
                color: $hb_footer-text;
                line-height: 21px;
                p {
                    margin: 0px;
                }
                a {
                    text-decoration: none;
                    color: $hb_footer-text;
                }
            }
        }
    }
    &__list-title {
        font-weight: 800;
        font-style: italic;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
    }
    &__form-holder {
        margin-top: 30px;
        label {
            font-size: 16px;
            line-height: 21px;
            display: block;
            margin-bottom: 10px;
            color: $hb_footer-text;
        }
        input {
            padding: 5px 12px!important;
            font-size: 16px;
            line-height: 18px;
            background-color: #ECEEEE;
            border-radius: 4px;
            outline: none!important;
            box-shadow: none!important;
            border: none!important;
            &[type=checkbox] {
                margin-right: 5px;
            }
        }
        .emailfield {
            margin-bottom: 20px;
            width: 100%;
        }
        .custom-button {
            margin-top: 20px;
        }
    }
}
.bottom-bar {
    padding: 20px 0px;
    width: 100%;
    background-color: #5D696D;
    text-align: center;
    font-size: 14px;
    color: #fff;
    @include mq(medium) {
        padding: 40px 0px;
    }
}
