.banner {
    position: fixed;
    padding: 20px 0px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: #fff;
    border-bottom: 1px solid $hb_border;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand {
            width: 200px;
            @include mq(medium) {
                width: 300px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        nav {
            text-align: right;
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 87px;
            right: -100%;
            width: 100%;
            height: calc(100vh - 87px);
            background-color: #fff;
            transition: right 0.3s ease-in-out;
            &.open {
                right: 0;
                transition: right 0.3s ease-in-out;
            }
            @include mq(medium) {
                flex-direction: row;
                position: relative;
                height: auto;
                left: 0;
                right: auto;
                top: auto;
                width: auto;
                left: auto;
                background-color: transparent;
                align-items: center;
            }
            .menu-hoofdmenu-container {
                width: 100%;
                @include mq(medium) {
                    width: auto;
                }
            }
            .cart-button {
                background-color: transparent;
                color: $hb_text;
                font-size: 18px;
                font-weight: normal;
                padding: 35px 30px 35px 75px!important;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 30px;
                    height: 30px;
                    width: 30px;
                    background-color: $hb_red;
                }
                img {
                    left: 36px;
                }
                @include mq(medium) {
                    margin-left: 20px;
                    background-color: $hb_grey;
                    padding: 10px 12px 10px 40px!important;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    &:before {
                        content: none;
                    }
                    img {
                        left: 15px;
                    }
                }
            }
            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                text-align: left;
                li {
                    padding: 35px 30px;
                    border-bottom: 1px solid #DBDBDB;
                    &.current_page_item {
                        a {
                            color: $hb_red;
                            font-weight: bold;
                        }
                    }
                    @include mq(medium) {
                        padding: 0px;
                        display: inline-block;
                        margin-right: 30px;
                        border-bottom: none;
                    }
                    &:last-of-type {
                        margin-right: 0px;
                    }
                    a {
                        display: block;
                        width: 100%;
                        position: relative;
                        text-decoration: none;
                        font-size: 18px;
                        color: $hb_text;
                        @include mq(medium) {
                            display: inline-block;
                            width: auto;
                            opacity: 0.7;
                            transition: opacity 0.3s ease-in-out;
                            &:after {
                                content: '';
                                position: absolute;
                                width: 0%;
                                bottom: -10px;
                                height: 3px;
                                background-color: $hb_orange;
                                left: 0;
                                transition: width 0.25s ease-in;
                            }
                            &:hover {
                                opacity: 1;
                                transition: opacity 0.3s ease-in-out;
                                &:after {
                                    content: '';
                                    width: 100%;
                                    transition: width 0.25s ease-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .toggle-menu {
        display: flex;
        appearance: none;
        border: 2px solid #DBDBDB;
        border-radius: 4px;
        padding: 12px;
        align-items: center;
        font-weight: 600;
        color: $hb_red;
        margin-left: 50px;
        cursor: pointer;
        background: transparent;
        img {
            width: 20px;
            height: auto;
            margin-right: 10px;
        }
        @include mq(medium) {
            display: none;
        }
    }
}
