@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.eot');
    src: url('../fonts/Barlow-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff'),
        url('../fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraBoldItalic.eot');
    src: url('../fonts/Barlow-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Barlow-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.eot');
    src: url('../fonts/Barlow-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
        url('../fonts/Barlow-SemiBold.woff') format('woff'),
        url('../fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.main {
    overflow-x: hidden;
}

// Grid styling
.container {
    max-width: 1120px;
    width: 100%;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

// Slick styling
.slick-next, .slick-prev {
    position: absolute;
    z-index: 10;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.slick-dots {
    bottom: 15px;
    @include mq(medium) {
        bottom: 25px;
    }
    li {
        button {
            &:before {
                font-size: 15px;
                color: $hb_red;
            }
        }
        &.slick-active {
            button {
                &:before {
                    color: $hb_red;
                }
            }
        }
    }
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

// CSS Anti aliasing
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Barlow";
    font-weight: normal;
    background-color: #F2F1F0;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
    font-style: italic;
    color: $hb_text;
}

h2 {
    font-size: 2em;
    @include mq(medium) {
        font-size: 42px;
    }
}

ul, ol {
    padding-left: 20px;
}

mark {
    background-color: transparent;
}

table {
    th {
        text-align: left;
    }
}
