// MEDIAQUERIES <3 <3

// HOW TO USE THIS:
// .some-class{
//   margin-left: 15px;
//   @include mq(minimum) {
//     <some css value>
//   }
// }

@mixin mq($point) {
  @if $point == minimum {
    @media (min-width: 400px) { @content; }
  }
  @else if( $point == tablet-landscape){
    @media (min-width: 768px) and (orientation : landscape) { @content; }
  }
  @else if $point == medium-small {
    @media (min-width: 500px) { @content; }
  }
  @else if $point == medium{
    @media (min-width: 992px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 1024px)  { @content; }
  }
  @else if $point == large-plus {
    @media (min-width: 1072px)  { @content; }
  }
  @else if $point == very-large{
    @media (min-width: 1180px)  { @content; }
  }
  @else if $point == maximum {
    @media (min-width: 1200px)  { @content; }
  }
  @else if $point == smallheight {
    @media (min-height: 680px)  { @content; }
  }
}
