/** Box Model  */
$spacer:                2rem;

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

// Brand Colors
$hb_red: rgb(212, 019, 023);
$hb_yellow: rgb(255, 221, 000);
$hb_orange: rgb(249, 176, 000);
$hb_dark-orange: rgb(223, 098, 006);
$hb_border: #CED7DB;
$hb_text: #414B50;
$hb_footer-text: #B4B4B4;
$hb_creme: #F1F0EF;
$hb_grey: rgba(65, 75, 80, 0.8);
