// Overriding standard WooCommerce button colors
.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
	background:$hb_red !important;
	background-color:$hb_red !important;
	color:white !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border-color:$hb_red !important;
}

.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {
	background:$hb_red !important;
	background-color:$hb_red !important;
	color:white !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border-color:$hb_red !important;
}

.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
	background: $hb_red !important;
	color:white !important;
	text-shadow: transparent !important;
	border-color:$hb_red !important;
}

.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
	background: $hb_red !important;
	box-shadow: none;
	text-shadow: transparent !important;
	color:white !important;
	border-color:$hb_red !important;
}

.woocommerce input {
	padding: 12px 15px !important;
	border: 2px solid rgba(0,0,0, 0.4) !important;
	border-radius: 3px !important;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: 165px !important;
}

.woocommerce form .form-row textarea {
	padding: 12px 15px !important;
	border: 2px solid rgba(0,0,0, 0.4) !important;
	border-radius: 3px !important;
}

.single_add_to_cart_button.button.alt {
	padding: 12px 15px!important;
	line-height: inherit;
	border: 2px solid transparent;
}

.woocommerce-Address {
	margin-bottom: 25px;
	&:last-of-type {
		margin-bottom: 0px;
	}
}

.woocommerce-MyAccount-navigation {
	ul {
		padding-left: 20px;
	}
}

.woocommerce div.product div.images img {
	display: block;
    width: auto;
    height: 320px;
    box-shadow: none;
    margin: 0px auto;
}

.woocommerce span.onsale {
	background-color: $hb_orange;
}

.woocommerce #order_review_heading {
	margin-top: 30px;
}

.woocommerce .cross-sells {
	.product-section__description {
		h2 {
			font-size: 30px;
			line-height: 30px;
		}
	}
}

.woocommerce .cart-collaterals {
	margin-top: 50px;
	.cart_totals {
		.shop_table {
			margin-top: 25px;
		}
	}
}

.woocommerce-message {
    border-top-color: $hb_red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
    .button {
        float: none;
        align-self: flex-start;
        margin-top: 15px!important;
    }
    &:before {
        color: $hb_red;
    }
    margin-top: 30px;
    @include mq(medium) {
        display: block;
        .button {
            float: right;
            margin: 0px!important;
        }
    }
}

.woocommerce-cart-form {
    margin-top: 30px;
    background-color: #fff;
}

.shop_table.shop_table_responsive {
    background-color: #fff;
}

.woocommerce .cart-empty {
    margin-top: 30px;
    font-size: 18px;
    @include mq(medium) {
        font-size: 22px;
        margin-top: 60px;
    }
}

.woocommerce .return-to-shop {
    margin-bottom: 30px;
    @include mq(medium) {
        margin-bottom: 60px;
    }
}

.woocommerce ul.products li.product .price {
    color: $hb_red;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $hb_red;
}

// .checkout.woocommerce-checkout {
//     padding: 30px 0px;
//     @include mq(medium) {
//         padding: 60px 0px;
//     }
// }

.shop_table.woocommerce-checkout-review-order-table {
    background-color: #fff;
}

.woocommerce-checkout .woocommerce-form.woocommerce-form-login.login {
    background-color: #fff;
}

.woocommerce-checkout .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
    margin-left: 10px;
}

.woocommerce-ResetPassword.lost_reset_password {
    padding: 30px 0px;
}
.woocommerce-error {
    margin-top: 20px;
    margin-bottom: 20px;
}

.woocommerce-info {
    margin-top: 20px;
    margin-bottom: 20px;
    p {
        margin-top: 0px;
    }
}

.woocommerce-MyAccount-navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    ul {
        margin: 0px;
        li {
            margin-bottom: 5px;
            a {
                color: $hb_red;
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.woocommerce-MyAccount-content {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: -30px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #c3c3c3;
    }
}

.woocommerce .woocommerce-customer-details address {
    background-color: #fff;
    padding: 20px 25px;
}

.woocommerce table.shop_table {
    margin-top: 30px;
    background-color: #f7f6f7;
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    margin-top: 30px;
    padding-left: 0px;
    padding: 10px;
    background-color: #f7f6f7;
}

.woocommerce-thankyou-order-received {
    font-size: 18px;
    font-weight: bold;
    margin: 2em 0;
    text-align: center;
    @include mq(medium) {
        font-size: 22px;
        margin: 2em 0;
    }
}
