// Product Catgory Page
.product-container {
    padding: 30px 15px;
    @include mq(medium) {
        padding: 60px 15px;
    }
}
.products-loop-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li.product-category-class {
        float: none!important;
        margin: 0!important;
        width: 100%!important;
        margin-right: auto!important;
        margin-bottom: 20px!important;;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        &:nth-child(even) {
            margin-right: 0!important;
            @include mq(medium) {
                margin-right: auto!important;
            }
        }
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        h2 {
            text-transform: uppercase;
            padding: 20px!important;
            @include mq(medium) {
                padding-left: 30px!important;
            }
        }
        img {
            margin-bottom: 0px!important;
        }
        @include mq(medium) {
            flex-basis: calc(25% - 20px);
            margin-right: auto!important;
            width: auto!important;
            &.last {
                margin-right: 0px!important;
            }
        }
    }
}
// END -> Product Catgory Page

// Product Page
.products-loop-start {
    .product-class {
        float: none!important;
        margin: 0!important;
        width: auto!important;
        flex-basis: 100%;
        border: 1px solid #CFD8DC;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include mq(medium) {
            flex-basis: 33.3333%;
            width: 33.333%;
            max-width: 33.33%;
        }
    }
}

// global product styling
.product-class {
    padding: 15px 20px 30px!important;
    img {
        height: 250px !important;
        width: auto !important;
        margin: 0px auto!important;
        @include mq(medium) {
            height: 250px!important;
            width: auto!important;
        }
    }
    .woocommerce-loop-product__title {
        font-size: 16px!important;
        padding-bottom: 5px!important;
        word-break: break-all;
        @include mq(medium) {
            font-size: 24px!important;
        }
    }
    .price {
        font-size: 14px!important;
        color: $hb_red!important;
        @include mq(medium) {
            font-size: 18px!important;
        }
    }
    .add_to_cart_button,
    .ajax_add_to_cart {
        display: block;
        text-align: center;
        background-color: $hb_red!important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s ease-in-out;
        padding: 15px 20px!important;
        font-size: 14px!important;
        &:hover {
            transition: 0.3s ease-in-out;
            background-color: rgba($hb_red, 0.75)!important;
        }
        @include mq(medium) {
            font-size: 18px!important;
        }
    }
    .added_to_cart.wc-forward {
        display: block;
        text-align: center;
        color: black;
        text-decoration: underline;
    }
}
// end global product styling

.product-controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    @include mq(medium) {

    }
    .woocommerce-result-count,
    .woocommerce-ordering {
        float: none!important;
        margin: 0px!important;
    }

    .woocommerce-ordering {
        margin: 18px!important;
        .orderby {
            width: 100%;
            @include mq(medium) {
                width: auto;
            }
        }
    }

    .woocommerce-result-count {
        color: #414B50;
        margin: 18px!important;
        @include mq(medium) {
            margin: 0px !important;
        }
    }
}
