.content-area {
    padding: 30px 0px;
    @include mq(medium) {
        padding: 60px 0px;
    }
    .woocommerce-breadcrumb {
        margin-bottom: 30px;
        @include mq(medium) {
            margin-bottom: 60px;
        }
    }
}

.woocommerce-product-gallery__wrapper div a img {
    border: 1px solid #CFD8DC;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $hb_red;
    font-weight: 600;
}

.woocommerce-product-details__short-description {
    ul {
        list-style: none;
        padding: 0;
        li {
            padding-left: 0px;
            line-height: 22px;
            &:before {
                content: "• ";
                color: $hb_red;
                margin-right: 5px;
            }
        }
    }
}
.woocommerce div.product {
    display: flex;
    flex-wrap: wrap;
    .related.products {
        flex-basis: 100%;
        h2 {
            font-size: 2em;
        }
        .products-loop-start .product-class {
            flex-basis: 100%!important;
            @include mq(medium) {
                flex-basis: calc(33.333% - 13.333px)!important;
                &:nth-child(3n+2) {
                    margin: 0 20px!important;
                }
                &:nth-child(n+4) {
                    margin-top: 20px!important;
                }
            }
        }
    }
}

.woocommerce ul.products li.product .button {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
    align-self: flex-end;
}
